<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TSE Guatemala</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    </head>
    <body>    
        <nav class = "navbar navbar-dark bg-dark"> 
            <a href="/" class="navbar-brand"> ELECCIONES GENERALES Y AL PARLAMENTO CENTROAMERICANO 2019</a>
        </nav>

        <h1 align="center">RESULTADOS PRELIMINARES</h1>

        <div class="container mt-5 ">
                <div class="col-md-5">
                    
                   <h3>PRESIDENTE Y VICEPRESIDENTE</h3>
                    <img class="logo" src="/presidente.jpg" alt="Presidente">
                </div>


                <div class="col-md-5">
                    <h3>ALCALDE Y CORPORACIÓN MUNICIPAL</h3>
                    <img class="logo" src="/alcaldia.jpg" alt="Presidente">
                
                </div>

                <div class="col-md-5">
                    <h3>DIPUTADOS LISTADO NACIONAL</h3>
                    <img class="logo" src="/dip lista nacional.jpg" alt="Presidente">
                
                </div>

                <div class="col-md-5">
                    <h3>DIPUTADOS LISTADO DISTRITAL</h3>
                    <img class="logo" src="/dip distri.jpg" alt="Presidente">
                
                </div>

                <div class="col-md-5">
                    <h3>DIPUTADOS AL PARLAMENTO CENTROAMERICANO</h3>
                    <img class="logo" src="/dip parlacen.jpg" alt="Presidente">
                
                </div>
        </div>


    </body>
</html> 